extends ../../layouts/default.pug
include ../../mixins/table-tree.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug

block main
  if(role.permissions.includes("products-category_view"))
  .container
      h1 Danh mục sản phẩm
      .card.mb-3
          .card-body
            .row
              .col-8
                if(role.permissions.includes("products-category_edit"))
                  +form-change-multi(`${prefixAdmin}/products-category/change-multi?_method=PATCH`)
              .col-4.d-flex.flex-column.justify-content-start.align-items-end
                if(role.permissions.includes("products-category_create"))
                  a(
                    href=`${prefixAdmin}/products-category/create`
                    class="btn btn-outline-primary"
                  ) + Thêm mới

            table(
              class="table table-hover table-sm"
              checkbox-multi
            )
              thead
                tr
                  th
                    input(type="checkbox" name="checkall")
                  th STT
                  th Hình ảnh
                  th Tiêu đề
                  th Vị trí
                  th Trạng thái
                  th Hành động

              tbody
                +table-tree(records)

      //- +pagination(pagination)

      form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products-category/change-status`
      )

      form(
        action=""
        method="POST"
        id="form-delete-item"
        data-path=`${prefixAdmin}/products-category/delete`
      )

      script(src="/admin/js/product.js")  
      //- có thể dùng chung với product