extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)

  .container.my-5.page-otp
    .col-sm-12.otp-page
      .col-sm-5.main-otp
        h1(class="text-center") Nhập mã OTP xác thực
        form(
          action="/user/password/otp"
          method="POST"
        )
          div(class="form-group")
            label(for="email") Email
            input(
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
              value=email
              readonly
            )
          div(class="form-group")
            label(for="otp") Mã OTP
            input(
              type="text"
              class="form-control"
              id="otp"
              name="otp"
              required
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Xác nhận
      .col-sm-7.background-register
            h3(class="title-image") WELCOME BACK
            h3(class="title-question") Already have an account?
            button#registerButton.loginCustom-button
              i(class="fa-solid fa-arrow-left")
              |    Đăng nhập
            img(src="/images/background.png", alt="", class="login-image")
  script.
    document.addEventListener('DOMContentLoaded', function () {
      const registerButton = document.getElementById('registerButton');

      if (registerButton) {
        registerButton.addEventListener('click', function () {
          window.location.href = '/user/login';
        });
      }
    });