extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)

  .container.my-5.page-reset
    .col-sm-12.reset-page
       .col-sm-5.main-reset
         .col-sm-12
            h1(class="text-center") Đổi mật khẩu
            form(
              action="/user/password/reset"
              method="POST"
            )
              div(class="form-group")
                label(for="password") Mật khẩu mới
                input(
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                )
              div(class="form-group")
                label(for="confirmPassword") Xác nhận mật khẩu
                input(
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                  required
                )
              div(class="form-group")
                button(
                  type="submit"
                  class="btn btn-primary btn-block"
                ) Đổi mật khẩu
       .col-sm-7.background-register
         h3(class="title-image") WELCOME BACK
         h3(class="title-question") Already have an account?
         button#registerButton.loginCustom-button
           i(class="fa-solid fa-arrow-left")
           |    Đăng nhập
         img(src="/images/background.png", alt="", class="login-image")